/*  Written by JohnnyJoPo -- https://github.com/JohnnyJoPo
    On behalf of: N/A (personal hobby project for use as a web development portfolio piece)
    July 19, 2021
    CSS file for Maze Game
*/

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --cell-size: 10px;
    --route-color: #cfcfcf;
}

body {margin: 20px;}

#wrapper {width: 100%;}

#error,
#focusMsg {
    padding-bottom: 10px;
    font-weight: bold;
    color: red;
    visibility: hidden;
}

form {
    display: grid;
    width: 30%;
    gap: 10px;
    margin-bottom: 10px;
    grid-template-columns: 80px 50px 180px;
    grid-template-rows: 20px 20px 20px 30px;
}

label {grid-column: 1;}

input {
    grid-column: 2;
    justify-self: start;
}

#rowsIn,
#columnsIn {width: 50px;}

#rowsLbl,
#rowsIn {grid-row: 1;}

#columnsLbl,
#columnsIn {grid-row: 2;}

#routeLbl,
#routeChk {grid-row: 3;}

#genBtn {
    grid-column: 1 / span 2;
    grid-row: 4;
}

#ctrlContainer {
    grid-column: 3;
    grid-row: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#up {
    grid-column: 2;
    grid-row: 1;
}

#right,
#down,
#left {grid-row: 2;}

#right {grid-column: 3;}

#down {grid-column: 2;}

#left {grid-column: 1;}

.ctrlBtns {
    width:60px;
    height:60px;
}

#maze {
    display: grid;
    width: 1px;
    text-align: center;
    gap: 0px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
}
 
.wall {
    background-color: #3f3f3f;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.path {background-color: #cfcfcf;}

.route {background-color: var(--route-color);}

.dot {background-color: red;}