* {
    margin: 0px;
    padding: 0px;
}

:root{
    --cell-size: 10px;
}

body {margin: 20px;}

#wrapper {width: 100%;}

form {
    display: grid;
    width: 30%;
    gap: 10px;
    margin-bottom: 10px;
    grid-template-columns: 60px 50px 120px;
    grid-template-rows: 1fr 1fr 1fr;
}

label {
    grid-column: 1;
}

input {
    grid-column: 2;
}

#rowsLbl,
#rowsIn {
    grid-row: 1;
}

#columnsLbl,
#columnsIn {
    grid-row: 2;
}

#genBtn {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#ctrlContainer {
    grid-column: 3;
    grid-row: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#up {
    grid-column: 2;
    grid-row: 1;
}

#right,
#down,
#left {
    grid-row: 2;
}

#right {grid-column: 3;}

#down {grid-column: 2;}

#left {grid-column: 1;}

.ctrlBtns {
    width:40px;
    height:40px;
}

#maze {
    display: grid;
    width: 1px;
    text-align: center;
    gap: 0px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
}
 
.wall {
    background-color: #3f3f3f;
}

.path {
    background-color: #cfcfcf;
}

.dot {
    background-color: red;
}